@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br />
<h4><u>Age Restrictions</u></h4>
<p>We glady accept registrations to our Humor Application from users who are 18 years or older (or the age of majority in applicable jurisdictions), 
    and any information we may receive from users we believe to be under the age of 18 will be purged from our database.</p>